@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body{
    font-family: 'DM Sans', sans-serif;
    background-color: #fcfcfc;
}

.nav-link{
    color: #14416b;
    font-size: 20px;
}
.navbar{
    background-color: #fff;
    box-shadow: 6px 6px 16px 4px rgba(155, 152, 152, 0.15);
}
.signUp{
    background-color: #f88d32;
    border: none;
    padding: 8px 16px;
    border-radius: 12px;
    font-size: 20px;
}
.imgOne img {
    width: 95%;
    background-color: #14416b;
    border-radius: 30px;
}
.title {
    font-size: 48px;
}
.captionKu {
    /* width: 80%; */
    font-size: 20px;
}

.one {
    background-color: #CBF3DC;
    border: 3px solid #B2D9C2;
    border-radius: 12px;
}
.two {
    background-color: #F5E9DF;
    border: 3px solid #F4D7BE;
    border-radius: 12px;

}
.three {
    background-color: rgba(88, 241, 228, 0.3) ;
    border: 3px solid #58F1E4;
    border-radius: 12px;

}

.hvr-underline-from-center{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
  
.hvr-underline-from-center:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 51%;
      right: 51%;
      bottom: 0;
      background: #2098D1;
      height: 4px;
      -webkit-transition-property: left, right;
      transition-property: left, right;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
}
    
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
      left: 0;
      right: 0;
}

  