@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
body{
    font-family: 'DM Sans', sans-serif;
    background-color: #fcfcfc;
}
.nav-link{
    color: #14416b;
    font-size: 20px;
}
.navbar{
    background-color: #fff;
    box-shadow: 6px 6px 16px 4px rgba(155, 152, 152, 0.15);
    
}

.signUp{
    background-color: #f88d32;
    border: none;
    padding: 8px 16px;
    border-radius: 12px;
    font-size: 20px;
}

.card-title{
    font-size: 24px;

}
.buttonBuy {
    background-color: #14416b;
    border-radius: 10px;
    padding: 8px 16px;
    border: none;
    box-shadow: 8px 8px 18px 4px rgba(111, 107, 107, 0.25);

    /* font-size: 20px; */
}
.price{
    color: #14416b;
    
}
.card-text{
    font-size: 18px;
}
.card{
    border: none;
    box-shadow: 8px 8px 18px 4px rgba(111, 107, 107, 0.25);
    border-radius: 30px;
}