@font-face{
    font-family:'FontMain';
    src: url('../DMSans/DMSans-Regular.ttf')
}

body{
    font-family: 'FontMain';
}

.phone-bg{
    background-color: hsl(41, 100%, 80%);
}

#rgstr-btn{
    width: 100%;
}

.lgn-link{
    text-decoration: none;
}

.bg-rgstr-form{
    background-color: #EADBA2;
    border-radius: 20px;
}

.bg-card-rgstr{
    background-color: #f88d32;
    border-radius: 20px;
}

@media only screen and (min-width: 1200px){
    .phone{
        display: none;
    }

    .desktop{
        background: linear-gradient(
            90deg,
            #FFFFFF 0%,
            #FFFFFF 50%,
            #FFC448 50%,
            #FFC448 100%
        );
    }

    .img-penghias{
        width: 500px;
        height: 500px;
    }

    .bg-rgstr-form-desktop{
        background-color: #EADBA2;
    }
}

@media only screen and (max-width: 1200px){
    .desktop-laptop{
        display: none;
    }
}




